{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>DisplayOutput</title>
    <link href="{% static 'css/DisplayOutput.css' %}" rel="stylesheet" type="text/css">    <link href="{% static 'all.csv' %}" rel="static" type="csv">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="header" align="center">
    <centre>
    <h1>Results Page</h1>
    </centre>


    <div class="example">
        <input type="text" placeholder="Search.." name="search" id="searchID">
        <button class="button" type="submit" name="Search" id="Search"><i class="fa fa-search"></i></button>
    </div>

    </div>
        <div class="container">
            <div class="options">
                <button class="button" type="submit" name="All_Trans" id="All_Trans">All Transactions</button>
            </div>
            <div class="options">
                    <button class="button" type="submit" name="Passed_Trans" id="Passed_Trans" >Passed Transactions</button>
            </div>
            <div class="options">
                    <button class="button" type="submit" name="Failed_Trans" id="Failed_Trans">Failed Transactions</button>
            </div>
        </div>

        <div id="Trans_table">
        </div>

        <div>
            <br>
            <button class="button" type="button" name="Download_csv" id="Download_csv" button onclick="downloadCSV('download_feed_transaction.csv')">DOWNLOAD AS CSV</button>
        </div>

</body>
</html>
<script type="text/javascript">
let csv = ''

    window.onload = function(){
    document.getElementById('All_Trans').click();
    }

    // Display all transactions
    $.get("{% static 'all.csv' %}", function(data) {
        $('#All_Trans').click(function(){
      $.ajax({
       url:"{% static 'all.csv' %}",
       dataType:"text",
       success:function(data)
       {
        let count;
        let cell_count;
        let trans_data = data.split(/\r?\n|\r/);
        let table_data = '<table class="table table-bordered table-striped table-responsive">';

        //display heading
        let cell_data = trans_data[0].split(",");
        table_data += '<tr>';
        for (cell_count = 0; cell_count < cell_data.length; cell_count++) {
            table_data += '<th>' + cell_data[cell_count] + '</th>';
        }
        //display table
        for(count = 1; count<trans_data.length; count++) {
            cell_data = trans_data[count].split(",");
            table_data += '<tr>';
            for (cell_count = 0; cell_count < cell_data.length; cell_count++) {
                if (cell_data[7] === "Pass") {
                    table_data += '<td style="color:rgba(0,168,0,1.0)" >' + cell_data[cell_count] + '</td>';
                } else if (cell_data[7] === "Fail") {
                    table_data += '<td style="color:rgba(250,0,0,1.0)">' + cell_data[cell_count] + '</td>';
                }
            }
            table_data += '</tr>';
        }
        table_data += '</table>';

        csv = data

        $('#Trans_table').html(table_data);
       }
      });
     });
    });

    // Display passed transactions
    $.get("{% static 'all.csv' %}", function(data) {
        $('#Passed_Trans').click(function(){
      $.ajax({
       url:"{% static 'all.csv' %}",
       dataType:"text",
       success:function(data)
       {
        let count;
        let cell_count;
        let trans_data = data.split(/\r?\n|\r/);
        let table_data = '<table class="table table-bordered table-striped table-responsive">';

        //display heading
        csv = trans_data[0]+'\n';
        let cell_data = trans_data[0].split(",");
        table_data += '<tr>';
        for (cell_count = 0; cell_count < cell_data.length; cell_count++) {
            table_data += '<th>' + cell_data[cell_count] + '</th>';
        }
        //display table
        //display table
        for(count = 1; count<trans_data.length; count++) {
            cell_data = trans_data[count].split(",");

            if (cell_data[7] === "Pass"){
                table_data += '<tr>';
                for (cell_count = 0; cell_count < cell_data.length; cell_count++) {
                    table_data += '<td style="color:rgba(0,168,0,1.0)" >' + cell_data[cell_count] + '</td>';
                }
                csv = csv + trans_data[count] + '\n'
                table_data += '</tr>';
            }
        }
        table_data += '</table>';

        $('#Trans_table').html(table_data);
       }
      });
     });
    });

    // Display failed transactions
    $.get("{% static 'all.csv' %}", function(data) {
        $('#Failed_Trans').click(function(){
      $.ajax({
       url:"{% static 'all.csv' %}",
       dataType:"text",
       success:function(data)
       {
        let count;
        let cell_count;
        let trans_data = data.split(/\r?\n|\r/);
        let table_data = '<table class="table table-bordered table-striped table-responsive">';

        //display heading
        csv = trans_data[0]+'\n';
        let cell_data = trans_data[0].split(",");
        table_data += '<tr>';
        for (cell_count = 0; cell_count < cell_data.length; cell_count++) {
            table_data += '<th>' + cell_data[cell_count] + '</th>';
        }
        //display table
        for(count = 1; count<trans_data.length; count++) {
            cell_data = trans_data[count].split(",");

            if (cell_data[7] === "Fail"){
                table_data += '<tr>';
                for (cell_count = 0; cell_count < cell_data.length; cell_count++) {
                    table_data += '<td style="color:rgba(250,0,0,1.0)" >' + cell_data[cell_count] + '</td>';
                }
                csv = csv + trans_data[count] + '\n'
                table_data += '</tr>';
            }
        }
        table_data += '</table>';

        $('#Trans_table').html(table_data);
       }
      });
     });
    });

    // On Search
    $.get("{% static 'all.csv' %}", function(data) {
        $('#Search').click(function(){
      $.ajax({
       url:"{% static 'all.csv' %}",
       dataType:"text",
       success:function(data)
       {
        let count;
        let cell_count;
        let trans_data = data.split(/\r?\n|\r/);
        trans_data.pop()
        let table_data = '<table class="table table-bordered table-striped table-responsive">';

        let search = document.getElementById("searchID").value;

        //display heading
        csv = trans_data[0]+'\n';
        let cell_data = trans_data[0].split(",");
        table_data += '<tr>';
        for (cell_count = 0; cell_count < cell_data.length; cell_count++) {
            table_data += '<th>' + cell_data[cell_count] + '</th>';
        }
        //display table
        for(count = 1; count<trans_data.length; count++) {
            cell_data = trans_data[count].split(",");

            if(cell_data[0].includes(search) || cell_data[1].includes(search) || cell_data[2].includes(search) || cell_data[3].includes(search) || cell_data[4].includes(search) || cell_data[5].includes(search) || cell_data[6].includes(search) || cell_data[7].includes(search) || cell_data[8].includes(search)){
                table_data += '<tr>';
                for (cell_count = 0; cell_count < cell_data.length; cell_count++) {
                    if (cell_data[7] === "Pass") {
                        table_data += '<td style="color:rgba(0,168,0,1.0)" >' + cell_data[cell_count] + '</td>';
                    }
                    else if (cell_data[7] === "Fail") {
                        table_data += '<td style="color:rgba(250,0,0,1.0)">' + cell_data[cell_count] + '</td>';
                    }
                }
                csv = csv + trans_data[count] + '\n'
                table_data += '</tr>';
            }
        }
        table_data += '</table>';
        $('#Trans_table').html(table_data);
       }
      });
     });
    });



    function downloadCSV(filename) {
        var csvFile;
        var downloadLink;
        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});
        // Download link
        downloadLink = document.createElement("a");
        // File name
        downloadLink.download = filename;
        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);
        // Hide download link
        downloadLink.style.display = "none";
        // Add the link to DOM
        document.body.appendChild(downloadLink);
        // Click download link
        downloadLink.click();
    }


    </script>